/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/10/2021, 03:41:22 AM
    Author     : yayah
*/
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, #E01D4C 20%, rgba(224, 29, 76, 0.68) 100%);
    height: 30px;
    border-radius: 30px;
}
.barraroja{
    position: relative;
    top: -20px;
    left: -9px;
    width: 1920px;
    height: 100px;
    background: linear-gradient(180deg, #E01D4C 0%, rgba(224, 29, 76, 0.68) 100%);
}

*{
    font-family: "Montserrat";
    padding: 0px;
    padding-top: 0px
}


.cuadro{
       position: relative;
    margin: auto;
    top: -75px;
    left: 6px;
    width: 1000px;
    height: 1956px;
    line-height: 20px;
   
   
    
}
.imagenempre{
    
        position: relative;
        top: -45px;
	left: 3px;
	width: 150px;
	height: 60px;
}
.atras{
      position: relative;
    top: -2060px;
    left: 1599px;
    width: 206px;
    height: 45px;
  -ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(224.19,28.96,75.77,1);
        font-size: 25px;

}
.publicar{
          position: relative;
    top: -300px;
    left: 40%;
    width: 206px;
    height: 45px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;
   background:rgba(224.19,28.96,75.77,1);
    text-transform: uppercase;
    font-size: 24px;
    border: white;
    font-weight: bold;

}
.publicar:hover{
    background-color:rgb(180, 24, 60);
}
.titulo{
    
        position: relative;
        top: 87px;
	left: 10px;
	width: 137px;
	height: 46px;
	overflow: hidden;
	
	font-size: 20px;
	text-align: left;
	color:#000000;
}
.titulo:focus, input:focus{
    outline: none;}
.queper{
    position: relative;
    top: 147px;
    left: 10px;
    width: 289px;
    height: 47px;
    overflow: hidden;
    font-size: 20px;
    text-align: left;
    color: #000000;
    
}
.queper1{
        position: relative;
        top: 152px;
	left: 10px;
	width: 290px;
	height: 46px;
	overflow: hidden;
	
	font-size: 20px;
	text-align: left;
	color:#000000;
    
}
.foto{
        position: relative;
        top: 244px;
	left: 10px;
	width: 195px;
	height: 56px;
	overflow: hidden;
	
	font-size: 20px;
	text-align: left;
	color:#000000;
}
.pl{
   position: relative;
    top: 294px;
    left: 11px;
    width: 244px;
    height: 46px;
    overflow: hidden;
    
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.res{
    top: 370px;
    left: 5px;
    width: 187px;
    height: 47px;
    overflow: hidden;
    
    font-size: 20px;
    text-align: left;
    color: #000000;
    position: relative;
}
.le{
           position: relative;
    top: 430px;
    left: 10px;
    width: 289px;
    height: 47px;
    overflow: hidden;
    
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.hde{
            position: relative;
    top: 522px;
    left: 10px;
    width: 287px;
    height: 41px;
    overflow: hidden;
    
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.introtitu{
        position: relative;
	top: -0px;
	left: 250px;
	width: 291px;
	height: 36px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 30px;
}
.queperd{
    position: relative;
	top: 35px;
	left: 253px;
	width: 291px;
	height: 36px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 30px;

    
}
#dod{
    padding-bottom: 20px;
}
.agfoto{
    position: relative;
    top: 23px;
    left: 253px;
    width: 291px;
    height: 36px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.pgllave{
  position: relative;
    top: 100px;
    left: 251px;
    width: 291px;
    height: 36px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;
}
.respu{
      position: relative;
    top: 145px;
    left: 250px;
    width: 291px;
    height: 36px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;

} 
.horae{
position: relative;
    top: 221px;
    left: 250px;
    width: 291px;
    height: 36px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;

}


.botonfoto{
    
        position: relative;
        top: 35px;
	left: 600px;
	width: 116px;
	height: 37px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:rgba(167.88,30.08,63.15,1);
}
.lugare{
    
    position: relative;
    top: 370px;
    left: 552px;
    width: 241px;
    height: 26px;
    border-radius: 30px;
    border: #FFFFFF;
    background: rgba(225.27,225.27,225.27,1);
    
}
.perdidos{
           position: relative;
    top: -1810px;
    left: 450px;
    width: 163px;
    height: 75px;
    overflow: hidden;
    
    font-size: 40px;
    text-align: left;
    color: #FFFCFC;
}
  
    
.imgpubli{
top: 86px;
    left: 570px;
    width: 134px;
    height: 111px;
    background: rgba(255,255,255,1);
    position: relative;
    right: -35px;
}

.ele{
    
        position: relative;
    top: 525px;
    
    width: 304px;
    height: 210px;
    overflow: hidden;
    inline-size: auto;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    font-weight: bold;
}
.us1{
    
    position: relative;
    top: 476px;
    left: -133px;
    width: 53px;
    height: 50px;
    font-size: 25px;
}

.tecnologico{

        position: relative;
    top: 398px;
    left: 12px;
    width: 56px;
    height: 26px;
    font-size: 15px;
    

}
.si{
 position: relative;
    top: 390px;
    left: 4px;
    width: 56px;
    height: 24px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    
}  
    


.ropa1{
    
         position: relative;
    top: 400px;
    left: 4px;
    width: 56px;
    height: 30px;
    font-size: 15px;
}
.r{
    
         position: relative;
    top: 390px;
    left: 7px;
    width: 56px;
    height: 70px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.us2{
    
       position: relative;
    top: 472px;
    left: -90px;
    width: 46px;
    height: 50px;
    font-size: 25px;
    
    
}


.escolar{
    
     position: relative;
    top: 400px;
    left: 4px;
    width: 56px;
    height: 31px;
    font-size: 15px;
    
}
.d{
      position: relative;
    top: 390px;
    left: -5px;
    width: 56px;
    height: 70px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    
}
.us3{
    position: relative;
    top: 472px;
    left: -105px;
    width: 49px;
    height: 50px;
    font-size: 25px;
    
}

.personal{
    
    position: relative;
    top: 420px;
    left: 7px;
    width: 33px;
    height: 67px;
    font-size: 15px;

}
.o{
    position: relative;
    top: 390px;
    left: 9px;
    width: 56px;
    height: 70px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase; 
    
}
.us4{
    
        position: relative;
    top: 472px;
    left: -105px;
    width: 50px;
    height: 50px;
    font-size: 25px;
}

.otro{
   position: relative;
    top: 11px;
    left: 10px;
    width: 56px;
    height: 30px;
    font-size: 15px;
   
    

    
}
.y{
    position: relative;
    top: 390px;
    left: -4px;
    width: 56px;
    height: 70px;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    
    
    
}
.us5{
    position: relative;
    top: 472px;
    right: 78px;
    width: 50px;
    height: 55px;
    font-size: 5px;
    
    
}
.per{
        top: 35px;
    left: 60px;
    width: 160px;
    height: 38px;
    overflow: hidden;
    
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
    
}
.lol{
    
     position: relative;
	top: 91px;
	left: 503px;
	width: 291px;
	height: 36px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 30px;
    
    
}
*{

    font:small-caps bold 12px/30px ;
   
}
.opciones{
padding-top: 50px;
}
input{
    border: white;
background: rgba(225.27,225.27,225.27,1);

}
.lela{
    
          position: relative;
    top: 204px;
    left: 10px;
    width: 389px;
    height: 47px;
    overflow: hidden;
    
    font-size: 20px;
    text-align: left;
    color: #000000;
}
.dondess{
    
      position: relative;
    top: 127px;
    left: 552px;
    width: 241px;
    height: 26px;
    border-radius: 30px;
    border: #FFFFFF;
    background: rgba(225.27,225.27,225.27,1);
    
}
.regresar{
    position: relative;
    left: 1700px;
    top: 100px;
    position: relative;
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    background: rgba(224.19,28.96,75.77,1);
    border: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.regresar:hover{
    background-color:rgb(180, 24, 60);
}
