/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/11/2021, 10:17:33 PM
    Author     : yayah
*/
.barraroja{
    position: relative;
	top: -20px;
	left: -9px;
    width: 1920px;
	height: 100px;
        
	background: linear-gradient(180deg, #E01D4C 0%, rgba(224, 29, 76, 0.68) 100%);
}
.per{
       top: 16px;
    left: 52px;
    width: 160px;
    height: 38px;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;
    
    
}
.tabla{
   position: relative;
    top: -20px;
    left: 0px;
    width: 100%;
    height: 100px;
    
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/10/2021, 01:24:11 AM
    Author     : yayah
*/
#bararojados{
   position: relative;
    top: 34px;
    left: 590px;
    width: 250px;
    height: 950px;
   
}

.obenco{
        position: relative;
    top: 12px;
    left: -540px;
    width: 181px;
    height: 34px;
    overflow: hidden;
    
    font-size: 18px;
    text-align: left;
    color: #FDF7F7;
    
}
.obexco{
    position: relative;
    top: 49px;
    left: -549px;
    width: 174px;
    height: 284px;
    overflow: hidden;
    
    font-size: 18px;
    text-align: left;
    color: black;
    
    
}
.cate{
    position: relative;
        top: 210px;
	left: 13px;
	width: 106px;
	height: 34px;
	overflow: hidden;
	
	font-size: 18px;
	text-align: left;
	color:#FFFFFF;
    
    
}

.imagenempredos{
    
        position: relative;
        top: 1px;
	left: 15px;
	width: 180px;
	height: 60px;
}
.imagenusuario{
          position: relative;
    top: -267px;
    left: 1234px;
    width: 56px;
    height: 63px;

    
}
.box-two {
  overflow: auto;
  position: relative;
  top: -30px;
	left: 950px;
	width: 56px;
    height: 500px;
    background:rgba(255,255,255,0);
}
.box {
    
         position: relative;
    padding: 10px;
    float: left;
    top: 32px;
    left: 500px;
    width: 750px;
    height: 640px;
    background: rgba(255,255,255,0);
}

.rectangulo{
        position: relative;
        
	top: 2px;
	left: 60px;
	width: 623px;
	height: 327px;
	background:rgba(40,37,37,0.07);
        -ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
    
    
}
.titupubli{
        position: relative;
        top: 8px;
	left: 250px;
	width: 182px;
	height: 34px;
	overflow: hidden;
	
	font-size: 25px;
	text-align: left;
	color:#000000;
    
}
.preguntallave{
      position: relative;
    top: 29px;
    left: 16px;
    width: 237px;
    height: 40px;
    -ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(224.19,28.96,75.77,1);
        font-size: 25px;
}

.publicaciones
{
  position: relative;
    width: 110px;
    height: auto;
    float: right;
    top: -18%;
    left: -3%;
}
.fecha
{
    position: relative;
    left: 60%;
    top: 51%;
}


.ventes{
    
    
      top: 83px;
    left: 73.99px;
    width: 45px;
    height: 40px;
    position: relative;
    
}

.preguntallaves{
    
        position: relative;
    top: 51px;

    left: 6px;

    width: 237px;

    height: 40px;

    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;

    border-radius: 30px;

    background: rgba(224.19,28.96,75.77,1);
    font-size: 25px;
}
.qe{
    position: relative;
    top: -1271px;
    left: -137px;
    
}
.clock{
   font-size: 5em;
  text-align: center;
  margin: 1em;

}
.titupublis{
     top: -160px;
	left: 405px;
	width: 250px;
	height: 42px;
        position: relative;
        font-size: 20px;
    
    
}
.titupublis1{
     top: -131px;
	left: 405px;
	width: 250px;
	height: 42px;
        position: relative;
        font-size: 20px;
    
    
}
.verpublicaciones{
    
           position: relative;
   
    left: 830px;
    width: 237px;
    height: 40px;
    -ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(224.19,28.96,75.77,1);
            font-size: 25px;
            top: -25px;
            
}
.pel{
    position: relative;
   
    left: 780px; 
    
}
.grafica1{
    
    position: relative;
    top: -255px;
    left: -229px;
    
}
.grafica{
    
    position: relative;
    top: -106px;
    left: -455px;
}
.cerrarsesion{

    top: -232px;
    left: 1070px;
    width: 180px;
    height: 60px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background: rgba(224.19,28.96,75.77,1);
    font-size: 25px;
    
    
}
.grafica{
     -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background: rgba(224.19,28.96,75.77,1);
    font-size: 25px;
    
    
}
.grafica1{
    
     -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background: rgba(224.19,28.96,75.77,1);
    font-size: 25px;
    
}
*{
    font-family: 'Montserrat';
    font:small-caps bold 12px/30px ;
}
input{
    border: white;
background: rgba(225.27,225.27,225.27,1);}
button:hover{
    background:rgb(180, 24, 60);
  }
  
  .asu{
      top: -640px;
    left: 530px;
    width: 180px;
    height: 60px;
    position: relative;
     
  }
  
  .agregarusuario{
        top: -531px;
    left: 309px;
    width: 180px;
    height: 60px;
    position: relative;
      
  }
  .grafica2{
         top: -405px;
    left: 12px;
    width: 180px;
    height: 60px;
    position: relative; 
      
      
  }
  .entregado-noentregado{
    position: relative;
    top: -643px;
    left: 487px;

  }