/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2021, 02:19:03 AM
    Author     : yayah
*/


    
iframe{
    width: 80%;
    height: 90vh;
    align-items: center;
}
.boton{
    
       top: 2px;
    left: 784px;
    width: 367px;
    height: 46px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -o-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -moz-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -ms-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
  
    position: relative;
        font-size: 20px;

    
}
.barraroja{
    
    
       position: relative;
	top: -16px;
	left: -10px;
        width: 1900px;
	height: 100px;
        
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -o-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -moz-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: -ms-linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
	background: linear-gradient(-90deg , rgba(224.19,28.96,75.77,1) 0%, rgba(224.19,28.96,75.77,0.68) 100%);
}
.perdi{
          top: -95px;
    left: 3px;
    width: 160px;
    height: 38px;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    color: #FFFFFF;
    position: relative;

    
}
